html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: rgba(9, 151, 9, 0.795);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.App-navbar {
  background-color: #004d40;
  color: white;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.App-navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.App-navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.App-navbar a:hover {
  text-decoration: underline;
}

.App-footer {
  background-color: #004d40;
  color: white;
  padding: 5px 20px;
  text-align: center;
  width: 100%;
}